            </div>
            {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
            {% if currentPath == '/' %}
            <div class="col-sm-4 mapping-sidebar">
                <div id="homepage-map" style="height: 300px"></div>
            </div>
            <script src="/theme/default/js/apti-map.js"></script>
            {% endif %}
        </div> 
        <footer id="page-footer" role="navigation">
        </footer>   
    <footer class="clearfix">
        {{ menu('footer', '_menu_footer.twig') }}
    </footer>    
    </div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
	
</html>
