            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        {% include '_sub_searchbox.twig' %}
                    </div>
                </div>
            </div>
        </div>    
    <footer class="clearfix">
        {{ menu('footer', '_menu_footer.twig') }}
    </footer>    
    </div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
	
</html>

