<div class="panel panel-default">
    <div class="panel-heading">
        {{ item.title }}
    </div>
    <div class="panel-body">
        {{ item.description }}
    </div>
    <div class="panel-footer">
        <a href="{{ item.url }}" target="_blank">
            {{ item.url }}
        </a>
    </div>
</div>