<form method="get" action="/search" id="searchform" enctype="text/plain" class="form-inline">
<div class="form-group">
    <input type="text" name="search" value="" placeholder="Search for ..." class="form-control">
    <button class="btn btn-success">
        <span class="glyphicon glyphicon-search"></span>
    </button>
</div>

</form>