{% include '_header.twig' %}
<div class="row welcome">
    <div class="col-sm-12">
        {{ app.translator.trans('homepage.welcome',{},'infos')|raw }}
    </div>
</div>
{% setcontent items = "items" where { featured: 'Yes' } orderby '-weight' limit 3 %}
{% for item in items %}
    {% if loop.index == 1 %}
        <div class="row">
            <div class="col-sm-12">
                {% include '_item_panel.twig' with { item: item } %}
            </div>
        </div>
    {% else %}
        {% if loop.index == 2 %}
            <div class="row">

            <div class="news-menu">
                <p>News</p>
            </div>
        {% endif %}

        

        <div class="col-sm-6">
            

            {% include '_item_panel.twig' with { item: item } %}
        </div>
    {% endif %}
{% endfor %}
            <!-- 2nd priority featured items loop end -->
            </div>


{% include '_footer.twig' %}

