{% include '_header.twig' %}

<h2>Search results for <i>{{ search }}</i></h2>

{% if records %}
    {% for record in records %}
    <div class="row">
        <div class="col-sm-12">
            {% include '_item_panel.twig' with { item: record } %}
        </div>
    </div>
    {% endfor %}
{% else %}
    <p>No results to display!</p>
{% endif %}

{{ pager() }}


{% include '_footer.twig' %}

